<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogi.meatyou.repository.MainMapper">

 <select id="cusCount" resultType="int" >
      select count(*) from product p ,CUS_ORDER c where p.p_num = c.p_num
   </select>


   <!-- 파워링크 카운트 -->
   <select id="M_statusCount" resultType="com.gogi.meatyou.bean.ProductDTO" >
      select count(*) from member where M_status=2002
   </select>
    
   <!-- 메인 파워링크 BEST -->
   <select id="mainCUS" resultType="com.gogi.meatyou.bean.ProductDTO" >
      select * from 
      (select * from product p ,CUS_ORDER c , member m
      where p.p_num = c.co_p_num and m.m_id = p.p_m_id and m.m_id = c.co_m_ID and M_status like '%' || 2002 || '%')
   </select>
   
   
   <!-- 전체 파워링크 카운트 -->
   <select id="powCount" resultType="int" >
      select * from 
      (select count(*) from product p ,CUS_ORDER c , member m
      where p.p_num = c.co_p_num and m.m_id = p.p_m_id and m.m_id = c.co_m_ID and M_status like '%' || 2002 || '%')
   </select>
   
   
   <!-- 파워링크 전체 List -->
   <select id="poLinkList" resultType="com.gogi.meatyou.bean.ProductDTO" parameterType="hashmap">
      select * from 
       (select b.* , rownum r from
        (select * from product p ,CUS_ORDER c , member m
        where p.p_num = c.co_p_num and m.m_id = p.p_m_id and m.m_id = c.co_m_ID and M_status like '%' || 2002 || '%') b )
      <![CDATA[ where r >= #{start} and r <= #{end} ]]>
   </select>
   
   <!-- 메인 소고기 베스트 -->
   <select id="meatBest" resultType="com.gogi.meatyou.bean.ProductDTO" >
      select * from 
      (select b.* , rownum r from
      ((select * from 
      (select order_p_num,count(*) count from m_order group by order_p_num) 
      ck ,product p,meat_category mc where ck.order_p_num=p.p_num and mc.meat_p_category=p.p_category order by count desc) b)
      <![CDATA[ where mod((meat_p_category),100)>=20) where r >= 1 and r <= 4 ]]>
   </select>

   <!-- 메인 돼지고기 베스트 -->
   <select id="forkBest" resultType="com.gogi.meatyou.bean.ProductDTO" >
      select * from 
      (select b.* , rownum r from
      ((select * from 
      (select order_p_num,count(*) count from m_order group by order_p_num) 
      ck ,product p,meat_category mc where ck.order_p_num=p.p_num and mc.meat_p_category=p.p_category order by count desc) b)
      <![CDATA[ where mod((meat_p_category),100)<20) where r >= 1 and r <= 4 ]]>
   </select>
   
   
   <!-- 메인 신상품 카운트 -->
   <select id="newProductCNT" resultType="int" >
      select count(*) from product order by p_reg_date desc
   </select>
   
   <!-- 메인 신상품 BEST -->
   <select id="newProductBest" resultType="com.gogi.meatyou.bean.ProductDTO" >
      select * from product order by p_reg_date desc
   </select>
   
   <!-- 메인 신상품 순 -->
   <select id="newProduct" resultType="com.gogi.meatyou.bean.ProductDTO" parameterType="hashmap">
      select * from 
      (select b.* , rownum r from
      (select * from  product order by p_reg_date desc) b)
      <![CDATA[ where r >= #{start} and r <= #{end} ]]>
   </select>
   
   
   <select id="searchCount" resultType="int">
      select count(*) from 
      (select * from product p, p_detail d where  p.p_num = d.pd_p_num and 
      <if test="searchOption == 'title'"> (p_name like '%' || #{search} || '%')) </if> 
      <if test="searchOption == 'total'"> (p_name like '%' || #{search} || '%' or pd_P_DESC like '%' || #{search} || '%')) </if>
   </select>
   
   <!-- 서칭 리스트(최신순) -->
   <select id="searchList" resultType="com.gogi.meatyou.bean.ProductDTO" parameterType="hashmap">
      select * from
      (select b.* , rownum r from
      (select * from product p, p_detail d
      where  p.p_num = d.pd_p_num and 
      <if test="searchOption == 'title'"> p_name like '%' || #{search} || '%'  </if> 
      <if test="searchOption == 'total'"> (p_name like '%' || #{search} || '%' or pd_P_DESC like '%' || #{search} || '%') </if> 
      order by p_reg_date
      <if test="desc == null"> asc ) b )</if>
      <if test="desc != null"> desc ) b )</if>
      <![CDATA[ where r >= #{start} and r <= #{end} ]]>
   </select>

   <!-- 서칭 리스트(가격순) -->
   <select id="searchPrice" resultType="com.gogi.meatyou.bean.ProductDTO" parameterType="hashmap">
      select * from
      (select b.* , rownum r from
      (select *
      from product p, p_detail d
      where  p.p_num = d.pd_p_num and 
      <if test="searchOption == 'title'"> p_name like '%' || #{search} || '%'  </if> 
      <if test="searchOption == 'total'"> (p_name like '%' || #{search} || '%' or pd_P_DESC like '%' || #{search} || '%') </if> 
      order by (p_price/weight)*100
      <if test="price != null"> asc ) b )</if>
      <if test="price == null"> desc ) b )</if>
      <![CDATA[ where r >= #{start} and r <= #{end} ]]>
   </select>


   <!-- 서칭 리스트(판매량순) -->
   <select id="searchSale" resultType="com.gogi.meatyou.bean.ProductDTO" parameterType="hashmap">
      select * from 
      (select b.* , rownum r from
      ((select * from 
      (select order_p_num,count(*) count from m_order group by order_p_num) ck ,product p, p_detail d
      where ck.order_p_num=p.p_num and p.p_num=d.pd_p_num order by count desc) b)
      <if test="searchOption == 'title'"> where p_name like '%' || #{search} || '%' ) </if> 
      <if test="searchOption == 'total'"> where p_name like '%' || #{search} || '%' or pd_P_DESC like '%' || #{search} || '%' ) </if> 
   <![CDATA[ where r >= #{start} and r <= #{end} ]]>
   </select>
   
   
   <!-- 메인 메뉴 소고기, 돼지고기 카운트 -->
   <select id="mainMeatCount" resultType="int" >
      select count(*) from 
      (select * from product p, p_detail d 
      where p.p_num=d.pd_p_num and p_category like '%_' || #{category} || '_%')
   </select>

      <!-- 메인 메뉴 소고기, 돼지고기 , 해당 육류에 대한 가격 높은순 낮은순 -->
   <select id="mainMeat" resultType="com.gogi.meatyou.bean.ProductDTO" parameterType="hashmap">

      <if test="price != null"> select * from 
      (select b.* , rownum r from
      (select * from product p, p_detail d 
      where p.p_num=d.pd_p_num and p_category like '%_' || #{category} || '_%' order by (p_price/weight)*100 ${price}) b)
      <![CDATA[ where r >= #{start} and r <= #{end} ]]> </if>
   
      <if test="reg != null"> select * from 
      (select b.* , rownum r from
      (select * from product p, p_detail d 
      where p.p_num=d.pd_p_num and p_category like '%_' || #{category} || '_%' order by p_reg_date ${reg} ) b)
      <![CDATA[ where r >= #{start} and r <= #{end} ]]>  </if>
   
      <if test="sale != null"> select * from 
      (select b.* , rownum r from
      ((select * from 
      (select order_p_num,count(*) count from m_order group by order_p_num) ck ,product p,meat_category mc  , p_detail d 
      <if test="sale != null"> where ck.order_p_num=p.p_num and mc.meat_p_category=p.p_category and p.p_num=d.pd_p_num order by count ${sale} ) b ) </if> 
      where meat_p_category like '%_' || #{category} || '_%')
      <![CDATA[ where r >= #{start} and r <= #{end} ]]>   </if> 
      
<!--       select * from 
      (select b.* , rownum r from
      ((select * from 
      (select order_p_num,count(*) count from m_order group by order_p_num) ck ,product p,meat_category mc  , p_detail d
      <if test="price != null"> where ck.order_p_num=p.p_num and mc.meat_p_category=p.p_category and p.p_num=d.pd_p_num order by (p_price/weight)*100 ${price} ) b ) </if> 
      <if test="sale != null"> where ck.order_p_num=p.p_num and mc.meat_p_category=p.p_category and p.p_num=d.pd_p_num order by count ${sale} ) b ) </if> 
      <if test="reg != null"> where ck.order_p_num=p.p_num and mc.meat_p_category=p.p_category and p.p_num=d.pd_p_num order by p_reg_date ${reg} ) b ) </if>
      where meat_p_category like '%_' || #{category} || '_%')
      <![CDATA[ where r >= #{start} and r <= #{end} ]]> -->
   </select>
   
   
   <!-- 제품 상세정보 -->
   <select id="productDetail" resultType="com.gogi.meatyou.bean.ProductDetailDTO" >
         select * from 
         (select * from product, p_detail
         where p_num = pd_p_num) where p_num=#{p_num}
   </select>
   
      <!-- 판매자의 다른 상품 정보 -->
   <select id="otherProductDetail" resultType="com.gogi.meatyou.bean.OtherProductDetailDTO" >
      select * from 
      (select * from product, p_detail
      where p_num = pd_p_num) where p_m_id=#{p_m_id}
   </select>

      <!-- 전체 리뷰 -->   
   <select id="reviewAll" resultType="com.gogi.meatyou.bean.ReviewDTO">
      select * from 
      (select * from product, review
      where p_num=r_p_num) where p_num=#{p_num}
   </select>
   
      <!-- 전체 리뷰 페이징 카운트-->  
      <select id="reviewAllPagingCNT" resultType="int" >
         select count(*) from 
         (select * from product, review
         where p_num=r_p_num) where p_num=#{p_num}
   </select>
   
      <!-- 전체 리뷰 페이징 -->   
      <select id="reviewAllPaging" resultType="com.gogi.meatyou.bean.ReviewDTO" parameterType="hashmap">
         select * from
      (select b.* , rownum r from
      (select * from product, review where p_num=r_p_num order by r_reg_date desc) b) where 
      <![CDATA[ p_num=#{p_num} and r >= #{start} and r <= #{end} ]]>

   </select>
   
   <select id="reviewStar" resultType="int">
      select count(*) from  review where r_p_num=#{r_p_num}
   </select>

      <select id="reviewSum" resultType="double">
      select sum(star) from review where r_p_num=#{p_num}
   </select>

   <select id="mOderCount" resultType="int" >
      select count(*) from m_order where order_m_id=#{order_m_id} and order_p_num=#{order_p_num} and order_status=3
   </select>

   <select id="reviewCount" resultType="int" >
      select count(*) from review where r_m_id=#{r_m_id} and r_p_num=#{r_p_num}
   </select>
   
   <select id="reviewAllCNT" resultType="int" >
      select count(*) from review where r_p_num=#{r_p_num}
   </select>
   
   <select id="star1" resultType="int" >
      select count(*) from review where r_p_num=#{r_p_num} and star=1
   </select>
   
   <select id="star2" resultType="int" >
      select count(*) from review where r_p_num=#{r_p_num} and star=2
   </select>
   
   <select id="star3" resultType="int" >
      select count(*) from review where r_p_num=#{r_p_num} and star=3
   </select>
   
   <select id="star4" resultType="int" >
      select count(*) from review where r_p_num=#{r_p_num} and star=4
   </select>
   
   <select id="star5" resultType="int" >
      select count(*) from review where r_p_num=#{r_p_num} and star=5
   </select>
   
   <insert id="reviewInsert" parameterType="com.gogi.meatyou.bean.ReviewDTO">
      insert into review values(review_seq.nextval, 
                           #{r_m_id}, 
                           #{r_p_num}, 
                           #{r_content}, 
                           #{star}, 
                           #{r_img}, 
                           sysdate)
   </insert>
   
   <select id="ShoppingCartCNT" resultType="int" >
      select count(*) from shoppingcart_${shop_m_id}
   </select>
   
   <select id="ShoppingCartCNT2" resultType="int" >
      select count(*) from shoppingcart_${shop_m_id}
   </select>
   
   <insert id="ShoppingCartInsert" parameterType="com.gogi.meatyou.bean.ShoppingCartDTO">
      insert into shoppingcart_${shop_m_id} values(ShoppingCart_${shop_m_id}_seq.nextval, 
                           #{shop_m_id}, 
                           #{shop_p_num}, 
                           #{quantity})
   </insert>   
   
   <select id="pickCNT" resultType="int" >
      select count(*) from p_pick_${ppic_m_id}
   </select>
   
   <insert id="pickInsert" parameterType="com.gogi.meatyou.bean.ShoppingCartDTO">
      insert into p_pick_${ppic_m_id} values(p_pick_baba_seq.nextval, #{ppic_p_num}, #{ppic_m_id})
   </insert>   
   
   
   
   

</mapper>