<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogi.meatyou.repository.MemberMapper">

<!-- 
		<resultMap id="memberMap" type="com.gogi.meatyou.bean.MemberDTO" >
		<result property="mId" column="m_id" />
		<result property="passwd" column="passwd" />
		<result property="mName" column="m_name" />
		<result property="birth" column="birth" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="email" column="email" />
		<result property="telep" column="telep" />
		<result property="phone" column="phone" />
		<result property="regDate" column="reg_date" />
		<result property="mStatus" column="m_status" />
		<collection property="mStatusList" resultMap="statusList" />  DTO의 List 사용시
	</resultMap>

	<resultMap id="statusList" type="com.gogi.meatyou.bean.MemStatusDTO" >
		<result property="mStatus" column="m_status" />
		<result property="mstatDetail" column="mstat_detail" />
		<result property="memstatAuth" column="mstat_auth" />
	</resultMap>
	
	
	
	<select id="read" resultMap="memberMap">		
			select * from member a left outer join memstatus b
						on a.m_status = b.m_status
						where a.m_id=#{m_id}
	</select>
			 -->


<insert id="insertMember" parameterType="com.gogi.meatyou.bean.MemberDTO">
          
           INSERT INTO member(m_id,passwd,m_name,birth,m_addr1,m_addr2,email,telep,phone)
        VALUES (
        #{m_id},
         #{passwd},
         #{m_name},
          #{birth},
         #{m_addr1},
          #{m_addr2},
           #{email},
            #{telep},
            #{phone}
          );
    </insert>
		
		
		
		
		
		
		
		
</mapper>